* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #2c3e50;
    background-color: #fdfaf6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    background: #4a2c2a;
    color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    height: 90px;
    width: auto;
}

.main-nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

.main-nav a:hover {
    color: #f4d03f;
}

.hero-section {
    background: linear-gradient(rgba(74, 44, 42, 0.7),rgba(74, 44,42 0.7)),url('images/cafe.jpg') center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.tagline {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-primary:hover {
    background: #f7dc6f;
}

section {
    padding: 60px 0;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #4a2c2a;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 49px;
    align-items: center;
}

.about-img {
    width: 100;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-text p {
    margin-bottom: 15px;
}

.menu-section {
    background: #fff;
}

.menu-grig {
    display: #fdfaf6;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.menu-card h3 {
    color: #4a2c2a;
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: center;
}

.menu-table td {
    padding: 10px 5px;
    border-bottom: 1px dashed #d5c7b1;
}

.menu-table tr:last-child td {
    border-bottom: none;
}

.item-name {
    text-align: center;
}

.item-price {
    text-align: right;
    font-weight: bold;
    color: #4a2c2a;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-info h3 {
    color: #4a2c2a;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 15px;
}

.map-img {
    width: 100%;
    border-radius: 8px;
    border: 3px solid #e8dcc6;
}

.site-footer {
    background: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 25px 0;
    font-size: 0.9rem;
}

.site-footer p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .site-header .container {
        flex-direction: column;
    }
    .main-nav {
        margin: 15px;
    }
    .main-nav a {
        margin: 0 10px;
    }
    .hero-section h1 {
        font-size: 2rem;
    }

    .about-content
    .menu-grig
    .contact-grid {
        grid-template-columns: 1fr;
    }    
}